/* Styling for the entire App */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #21212B;
  flex-direction: column;
}

.top {
  display: flex;
  /* Changed from block to flex */
  align-items: center;
  /* Vertically center elements */
  justify-content: center;
  /* Horizontally center */
  margin-bottom: 30px;
}

/* Styling for the header */
h1 {
  color: #5F76E8;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  display: inline-block;
}

/* Styling for the logo */
.logo {
  width: 10rem;
  height: auto;
  margin-right: 20px;
  /* Space between the logo and the header */
}

/* Styling for the container */
.container {
  display: flex;
  background-color: #5F76E8;
  border-radius: 10px;
  padding: 20px;
  width: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Style individual component containers */
.component {
  background-color: #21212B;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

/* Special styling for the Webcam component */
.webcam-component {
  flex: 2;
  width: 100%;
  height: auto;
}